<section class="bg-cover">
  <div class="ui segment inverted" style="opacity: 1; top: 70px; width: 600px; margin: 0 auto; background: rgba(0,0,0,0); padding: 30px 20px 10px 20px;">
    <h1 class="ui header massive" style="font-size: 30pt;"><i>Pickup.</i></h1>
  </div>
  <div class="ui segment" style="opacity: 1; top: 70px; width: 600px; margin: 0 auto; background: rgba(255,255,255,1); border: 1px solid rgba(0,0,0,0); padding: 30px 20px 10px 20px;">
      <div class="ui form">
          <h2><i class="icon add"></i>Organize a Game</h2>
          <%= render 'form' %>
        </div>
    </div>
</section>
